@import "variables"; // Access your colors
@import "mixins"; // Access your breakpoints

.login-logo-section {
  margin-top: 0 auto;

  img {
    width: 150px;
    height: auto;
  }
}

.login-page {
  display: flex;
  min-height: 80vh;
  margin: auto 0;

  // The Left Side (Illustration)
  .login-image-section {
    flex: 1;
    @include flex-center;
    padding: 50px;
    width: 600px;

    @include mobile {
      display: none;
    }

    img {
      // max-width: 100%;
      max-width: 900px;
      width: 100% !important ;
      height: 100% !important;
      object-fit: contain;
    }
  }

  .login-form-section {
    flex: 1;
    @include flex-center;
    flex-direction: column;
    padding: 40px;

    .form-container {
      width: 100%;
      max-width: 900px;

      h1 {
        color: $lendsqr-blue;
        font-size: 40px;
        margin-bottom: 10px;
      }
      h4 {
        color: $lendsqr-teal;
        font-size: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      p {
        color: $text-color;
        margin-bottom: 40px;
      }

      .input-group {
        margin-bottom: 20px;
        input {
          width: 100%;
          padding: 15px;
          border: 2px solid $border-color;
          border-radius: 5px;
          outline: none;

          &:focus {
            border-color: $lendsqr-teal;
          }
        }
      }

      .login-btn {
        width: 100%;
        padding: 15px;
        background-color: $lendsqr-teal;
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }
}
