@import "tailwindcss";
@import "variables";
@import "mixins";

// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   font-family: "Avenir Next", sans-serif; // Common Lendsqr font
// }

// body {
//   background-color: $bg-color;
//   color: $text-color;
// }

// Import component styles
@import "navbar";
@import "sidebar";
@import "login";
